.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 1000;
	transition: all 0.4s ease-in-out;

}

.header_top {
	display: flex;
	justify-content: space-between;
	padding: 10px 0 12px 0;
	border-bottom: 1px solid var(--Body-Mid-Grey, #D9D9D9);

	.header_top__left {
		display: flex;
		gap: 30px;

		.phone {
			display: flex;
			gap: 8px;
			align-items: center;

			.phone_img {
				display: flex;
			}

			.phone_text {
				color: var(--Text-Primary, #262626);

				font-family: 'Montserrat', sans-serif;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 140%; /* 19.6px */
			}
		}

		.mail {
			display: flex;
			gap: 10px;
			align-items: center;

			.mail_img {
				display: flex;
			}

			.mail_text {
				color: var(--Text-Primary, #262626);

				font-family: 'Montserrat', sans-serif;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 140%; /* 19.6px */
			}
		}
	}

	.header_top__right {
		display: flex;
		align-items: center;

		.header__dropdown {
			position: relative;
			display: inline-block;

			&-btn {
				background: transparent;
				display: flex;
				justify-content: space-between;
				gap: 4px;
				align-items: center;
				width: 110px;
				cursor: pointer;
				color: var(--Text-Primary, #262626);
				font-family: 'Montserrat', sans-serif;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				border: none;
				padding: 0 0 0 10px;

				.header__dropdown-arrow {
					transition: transform 0.25s ease-in-out;
				}
			}

			&-list {
				position: absolute;
				top: 130%;
				left: 0;
				width: 100%;
				margin: 0;
				padding: 0;
				list-style: none;
				background: #fff;
				overflow: hidden;
				z-index: 50;

				opacity: 0;
				transform: translateY(-10px);
				pointer-events: none;
				transition: all 0.25s ease;

				li {
					padding: 10px 0 10px 10px;
					cursor: pointer;
					color: var(--Text-Primary, #262626);
					font-family: 'Montserrat', sans-serif;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;

					&:hover {
						background: #f5f5f5;
					}
				}
			}


			&.open {
				.header__dropdown-list {
					opacity: 1;
					transform: translateY(0);
					pointer-events: auto;
				}

				.header__dropdown-arrow {
					transform: rotate(180deg);
				}
			}
		}
	}
}

.header_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0;
	position: relative;

	.header_logo {
		.header_logo__img {
			display: flex;
			gap: 10px;

			.logo_img {
				height: auto;
			}

			.logo_name {
				display: inline-flex;
				flex-direction: column;
				color: var(--Text-Primary, #262626);
				font-family: 'Unbounded', sans-serif;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 100%; /* 18px */
				text-transform: uppercase;
			}
		}
	}

	.header__nav {
		display: flex;
		align-items: center;

		.btn-close {
			display: none;
			justify-content: center;
			padding: 0 0;
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0) ;
			width: 26px;
			height: 27px;
			border: none;
		}

		.header__menu {
			display: flex;
			gap: 50px;
		}

		.header__menu-item {
			display: flex;
			gap: 8px;
			align-items: center;

			color: var(--Body-Black, #1A1A1A);

			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 110%; /* 15.4px */
		}
	}

	.header_icons {
		display: flex;
		align-items: center;
		gap: 24px;
	}

	.burger-menu {
		display: none;
		width: 20px;
		height: 12.5px;
		flex-shrink: 0;
		cursor: pointer;

		.bar {
			height: 1.5px;
			width: 100%;
			background-color: #000000;
			display: block;
			border-radius: 5px;
			transition: .3s ease;
			pointer-events: none;
			margin-bottom: 4px;
		}

		.bar_mod {
			width: 60%;
		}
	}

	.overlay {
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.4);
		opacity: 0;
		visibility: hidden;
		transition: 0.3s ease-in-out;
		z-index: 3;
		cursor: pointer;
		right: 0;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}


}


@media (max-width: 1199px) {
	.btn-close {
		display: flex!important;
	}
	.header__nav {
		display: flex;
		justify-content: space-between;
		position: fixed;
		top: 0;
		right: -100%; /* спочатку приховане */
		width: 450px;
		height: 100%;
		background: #fff;
		padding: 65px 20px 20px 20px;
		transition: right 0.4s ease-in-out;
		z-index: 999;
		align-items: normal !important;

		&::after {
			content: "";
			position: absolute;
			top: 42px;      // відступ зверху (залежить від твого padding)
			left: 20px;     // відступ зліва
			right: 20px;    // відступ справа
			height: 1px;    // товщина лінії
			background: #ccc; // колір
		}
	}
	.header__nav.active {
		right: 0; /* виїжджає справа */
	}

	.header_bottom .header__nav .header__menu {
		flex-direction: column; // замість рядка -> стовпчик
		gap: 20px;              // можна зменшити відстань для мобілки
		align-items: flex-start; // щоб не розтягувало на всю ширину
	}


	.header_bottom .burger-menu {
		display: block;
	}
	.header_bottom .header_icons {
		display: none;
	}

}

@media (max-width: 768px) {
	.header_top .header_top__left {
		gap: 15px;
	}
}

@media (max-width: 480px) {
	.header__nav {
		width: 100%;
	}
	.header_top {
		justify-content: end;
	}
	.header_top .header_top__left {
		display: none;
	}
}
