.land-feedback{
	background: #0C0E1D;
	position: relative;
	overflow: hidden;
	.land-back_img{
		z-index: 1;
		position: absolute;
		left: 0;
		bottom: -4px;
		height: 100%;
		width: 100%;

	}
	.feedback_title{
		position: relative;
		z-index: 2;
		color: #FFFFFF;
		padding: 80px 0 30px 0;
	}

	.land-feedback_swiper{
		display: flex;
		gap: 38px;
		position: relative;
		margin-left: calc(50% - 50vw);
		padding-left: calc((100vw - 1200px)/2);
		overflow: hidden;
		padding-bottom: 130px;
		.feedback_slide{
			display: flex;
			justify-content: space-between;
			position: relative;
			max-width: 576px;
			width: 100%;
			max-height: 576px;
			border-radius: 24px;
			border: 2px solid var(--Body-Brand, #c4c4c4c4);
			stroke-width: 2px;
			stroke: #FFF;
			padding: 32px 39px 32px 37px;

			// кавички
			&::before {
				content: '';
				position: absolute;
				left: -16px;
				top: 30px;
				width: 30px;
				height: 30px;
				background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'><path d='M4 15.0776H9.80665C11.345 15.0776 12.385 16.2476 12.385 17.656V20.8844C12.385 22.2928 11.345 23.4628 9.80665 23.4628H6.57834C5.17001 23.4628 4 22.2928 4 20.8844V15.0776Z' fill='%2301D0CC' stroke='%2301D0CC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M4 15.0783C4 9.03334 5.12666 8.015 8.52833 6' stroke='%2301D0CC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M17.3032 15.0776H23.1099C24.6482 15.0776 25.6882 16.2476 25.6882 17.656V20.8844C25.6882 22.2928 24.6482 23.4628 23.1099 23.4628H19.8816C18.4732 23.4628 17.3032 22.2928 17.3032 20.8844V15.0776Z' fill='%2301D0CC' stroke='%2301D0CC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M17.3032 15.0783C17.3032 9.03334 18.4299 8.015 21.8316 6' stroke='%2301D0CC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat center/contain;
				z-index: 2;
				background-color: #0C0E1D;
			}





			.land-feedback_img{
				width: 120px;
				height: 120px;
				border-radius: 8px;
				overflow: hidden;
			}
			.land-feedback_desc{
				max-width: 350px;
				.land-title_top{
					display: flex;
					justify-content: space-between;
					padding-bottom: 8px;
					.land-title_name{
						color: #FFF;

						/* Subheading/bold 14px */
						font-family: 'Montserrat', sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 700;
						line-height: 110%; /* 15.4px */
					}
					.land-title_date{
						color: #FFF;

						/* Body/reg 14px */
						font-family: 'Montserrat', sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%; /* 19.6px */
					}
				}
				.land-title_bottom{
					overflow: hidden;
					color: rgba(255, 255, 255, 0.80);
					text-overflow: ellipsis;
					padding-bottom: 28px;

					/* Body/reg 14px */
					font-family: 'Montserrat', sans-serif;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 140%; /* 19.6px */
				}
				.land-feedback_rait{
					display: flex;
					justify-content: space-between;
					max-width: 96px;
					width: 100%;
					padding-bottom: 8px;
				}
				.land-feedback_info{
					color: #FFF;

					/* Body/reg 16px */
					font-family: 'Montserrat', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 140%; /* 22.4px */
				}
			}

		}
		.swiper-pagination {
			position: absolute;
			bottom: 92px;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 12px;

			.swiper-pagination-bullet {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: #959595;
				opacity: 0.4;
				position: relative;
				z-index: 1;
			}

			&::after{
				content: '';
				position: absolute;
				top: 50%;
				height: 6px;
				border-radius: 6px;
				background: var(--Body-Brand, #01D0CC);
				transform: translateY(-50%);
				transition: all 0.15s ease-in-out;
				z-index: 2;

				left: var(--bullet-left, 0);
				width: var(--bullet-width, 6px);
			}
		}
	}
}


@media (max-width: 1199px){
	.land-feedback .feedback_title{
		padding: 48px 0 26px 0;
	}

}


@media (max-width: 768px){
	.land-feedback .land-feedback_swiper .feedback_slide{
		flex-direction: column;
		gap: 24px;
	}
	.land-feedback .land-feedback_swiper .feedback_slide .land-feedback_img{
		width: 100%;
		height: auto;
	}

	.land-feedback .land-feedback_swiper .feedback_slide .land-feedback_desc{
		max-width: 100%;
	}

}
@media (max-width: 480px){
	.land-feedback .land-feedback_swiper .feedback_slide{
		max-width: 300px;
	}
	.land-feedback .feedback_title{
		padding: 40px 0 16px 0;
	}
	.land-feedback .land-feedback_swiper .feedback_slide .land-feedback_desc .land-feedback_info{
		font-size: 14px;
	}
	.land-feedback .land-feedback_title{
		padding: 24px 0 24px 0;
		font-size: 30px;
	}
	.land-feedback .land-feedback_swiper{
		padding-bottom: 55px;
	}
	.land-feedback .land-feedback_swiper .swiper-pagination{
		bottom: 20px;
	}
}
