.land-hero_background {
	width: auto;

	background-color: black;
	position: relative;
	z-index: 1;

	.land-hero_back_img {
		position: absolute;
		right: 0;
		width: 60%;
		height: 100%;

		img {
			-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-size: cover;
			mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			mask-repeat: no-repeat;
			mask-size: cover;
			z-index: 2;
		}

	}

	.land-container {
		.land-hero_banner__info{
			max-width: 510px;
			padding: 256px 0 143px 0;
		}


		.land-hero_banner__descriptions {
			position: relative;
			z-index: 3;
			padding-bottom: 40px;

			color: var(--Text-Inverse, #FFF);

			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%; /* 25.2px */
		}

		.land-hero_banner_btn{
			display: flex;
			gap: 12px;
		}

		.land-hero_banner_bottom{
			display: flex;
			justify-content: space-between;
			z-index: 3;
			position: relative;
			padding-bottom: 40px;
			.land-hero_banner_sell{
				display: flex;
				gap: 16px;
				position: relative;
				max-width: 365px;
				align-items: center;
				p{
					color: var(--Text-Inverse, #FFF);

					/* Body/med 16px */
					font-family: 'Montserrat', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 140%; /* 22.4px */
				}
				&:not(:last-child)::after {
					content: "";
					position: absolute;
					left: 395px;
					top: 50%;
					transform: translateY(-50%);
					width: 1px; // товщина вертикальної риски
					height: 24px; // висота риски
					background-color: rgba(255, 255, 255, 0.5); // колір риски
				}
			}
		}
	}
}




@media (max-width: 1199px){
	.land-btn{
		padding: 16px 14px;
	}
	.land-hero_background .land-container .land-hero_banner__info{
		padding: 156px 0 70px 0;
	}
	.land-hero_background .land-container .land-hero_banner__title{
		font-size: 40px;
	}
	.land-hero_background .land-container .land-hero_banner__descriptions{
		font-size: 16px;
		padding-bottom: 24px;
	}
	.land-hero_background .land-container .land-hero_banner_bottom{
		padding-bottom: 24px;
	}
	.land-hero_background .land-container .land-hero_banner_bottom .land-hero_banner_sell:not(:last-child)::after{
		display: none;
	}
	.land-hero_background .land-container .land-hero_banner_bottom {
		flex-wrap: wrap;           /* ✅ дозволяє переносити елементи */
		justify-content: center;   /* можна ще центрувати елементи */
		gap: 20px;                 /* проміжки між рядами */
	}
}


@media (max-width: 768px){
	.land-title_h1{
		font-size: 35px;
	}
	.land-hero_background .land-container .land-hero_banner__descriptions {
		font-size: 14px;
		padding-bottom: 24px;
	}
	.land-btn {
		padding: 14px 12px;
		font-size: 14px;
	}
	.land-hero_background .land-container .land-hero_banner_bottom .land-hero_banner_sell p{
		font-size: 14px;
	}
	.land-hero_background .land-container .land-hero_banner_bottom{
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.land-hero_background .land-container .land-hero_banner__info {
		padding: 156px 0 46px 0;
	}
}


@media (max-width: 480px){
	.land-title_h1{
		font-size: 30px;
	}
	.land-btn {
		padding: 12px 10px;
		font-size: 14px;
	}
	.land-hero_background .land-container .land-hero_banner__info {
		padding: 130px 0 24px 0;
	}
}
