.land-how_do {

	.land-how_do_title {
		color: var(--Text-Primary, #262626);
		padding-bottom: 24px;

		/* Heading/h2 */
		font-family: Unbounded;
		font-size: 36px;
		font-style: normal;
		font-weight: 500;
		line-height: 110%; /* 39.6px */
		padding-top: 80px;
	}

	.how_do__filters{
		margin-bottom: 16px;
	}


	.land-how_do_swiper__pre{
		position: relative;
	}

	.land-how_do-preloader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(2px);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		z-index: 10;

		display: flex;
		justify-content: center;
		align-items: center;

		.land-preloader__svg{
			width: 100px;
			height: 100px;
		}
	}
	.land-how_do-preloader.active {
		opacity: 1;
		visibility: visible;
	}



	.land-showcase_top {
		padding: 107px 0 0 0;
	}

	.land-how_do_swiper {
		position: relative;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		padding-left: calc((100vw - 1200px) / 2);
		overflow: hidden;
		padding-bottom: 118px;

		.swiper-wrapper {
			display: flex;

		}

		.land-how_do_swiper__item {
			flex-shrink: 0;
			max-width: 384px;
			height: 384px;

			a {
				opacity: 1;
			}

			.land-how_do__img {
				position: relative;
				height: 100%;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					border-radius: 16px;
					object-fit: cover;
				}

				.land-how_do__title {
					position: absolute;
					bottom: 20px;
					left: 20px;
					padding: 10px 20px;
					border-radius: 32px;
					background: var(--Body-Black, #1A1A1A);
					color: var(--Text-Inverse, #FFF);
					font-family: 'Montserrat', sans-serif;
					font-size: 14px;
					font-weight: 700;
					line-height: 100%;
				}
			}
		}

		.swiper-pagination {
			position: absolute;
			bottom: 80px;
			left: 0;
			width: 100% ;
			display: flex;
			justify-content: center;
			gap: 12px;

			.swiper-pagination-bullet {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: #959595;
				opacity: 0.4;
				position: relative;
				z-index: 1;
			}

			// Активний індикатор
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				height: 6px;

				border-radius: 6px;
				background: var(--Text-Secondary, #434343);
				transform: translateY(-50%);
				transition: all 0.15s ease-in-out;
				z-index: 2;

				/* динамічні змінні */
				left: var(--bullet-left, 0);
				width: var(--bullet-width, 6px);
			}
		}
	}



}


@media (max-width: 1199px) {
	.land-how_do .land-showcase_top {
		padding: 60px 0 0 0;
	}

	.land-how_do_filter {
		display: flex!important;
		flex-wrap: nowrap!important;                /* кнопки не переносяться */
		overflow-x: auto!important;                 /* горизонтальний скрол */
		scroll-snap-type: x mandatory!important;    /* прилипає як слайдер */
		-webkit-overflow-scrolling: touch;
		gap: 14px;                        /* проміжки між кнопками */
		padding: 10px;
		border-radius: 40px!important;
		background: var(--Body-Light-Grey, #F9F9F9);
		margin-bottom: 29px!important;
	}

	/* кнопки */
	.land-how_do-btn {
		flex: 0 0 auto;                   /* щоб не стискалися */
		scroll-snap-align: start;

		padding: 10px 15px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 100%;
		border: none;
		border-radius: 9999px;            /* повністю округлі краї */
		background-color: transparent;
		color: #000;
		cursor: pointer;
		transition: all 0.4s ease-in-out;
	}

	.land-how_do-btn.active {
		background-color: #000;
		color: #fff;
		border-color: #000;
	}

	.land-how_do-btn:hover {
		background-color: #000;
		color: #fff;
	}

	/* скролбар */
	.land-how_do_filter::-webkit-scrollbar {
		height: 6px;
	}
	.land-how_do_filter::-webkit-scrollbar-track {
		background: transparent;
	}
	.land-how_do_filter::-webkit-scrollbar-thumb {
		background: #000;
		border-radius: 10px;
	}


}

@media (max-width: 480px) {
	.land-how_do .land-showcase_top {
		padding: 24px 0 0 0;
	}
	.land-how_do .land-showcase_title {
		font-size: 30px;
	}
	.land-how_do .land-how_do_swiper {
		padding-bottom: 48px;
	}
	.land-how_do .land-how_do_swiper .swiper-pagination {
		bottom: 20px;
	}
	.land-how_do .land-how_do_swiper .land-how_do_swiper__item{
		height: 320px;
	}
}
