.land-view_catalog {
	background-color: #FFFFFF;
	position: relative;

	.land-back_img_ellipse {
		position: absolute;
		z-index: 1;
		right: 20px;
		top: 60px;

	}

	.land-view_catalog_wrapper {
		display: flex;
		justify-content: space-between;
		padding-bottom: 107px;
	}

	.land-view_catalog_desc {
		max-width: 590px;
		height: auto;
		width: 100%;
		padding-top: 122px;
		z-index: 2;

		.catalog__title {
			padding-bottom: 27px;
		}

		.land-catalog_info {
			color: var(--Text-Secondary, #434343);

			/* Body/reg 16px */
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%; /* 22.4px */
			padding-bottom: 27px;

		}

		.land-catalog_button {
			.land-btn {
				width: auto;
				max-width: 296px;
				padding: 20px 26px;

			}

			a {
				opacity: 1 !important;
			}
		}
	}

	.land-view_catalog_img {
		padding-top: 80px;
		max-width: 486px;
		height: auto;
		overflow: hidden;
		z-index: 2;

		img {
			border-radius: 16px;
		}
	}

}


@media (max-width: 1199px) {
	.land-view_catalog .land-view_catalog_wrapper {
		flex-direction: column-reverse;
		padding-bottom: 60px;
	}
	.land-view_catalog .land-view_catalog_img {
		max-width: 100%;
		max-height: 384px;
		padding-top: 48px;
	}
	.land-view_catalog .land-view_catalog_desc {
		max-width: 100%;
		padding-top: 48px;
	}
}

@media (max-width: 768px){
	.land-view_catalog .land-view_catalog_desc{
		padding-top: 0;
	}

}

@media (max-width: 480px) {
	.land-view_catalog .land-view_catalog_img{
		padding-top: 40px;
	}
	.land-view_catalog .land-view_catalog_desc{
		padding-top: 0;

	}
	.land-view_catalog .land-view_catalog_desc .land-catalog__title{
		font-size: 30px;
	}

	.land-view_catalog .land-view_catalog_desc .land-catalog_info{
		font-size: 14px;
	}
	.land-view_catalog .land-view_catalog_wrapper{
		padding-bottom: 24px;
	}
	.land-view_catalog .land-view_catalog_desc .land-catalog_info{
		padding-bottom: 24px;
	}
	.land-view_catalog .land-view_catalog_desc .land-catalog_button .land-btn{
		max-width: 100%;
	}
}
