.land-work_showcase {
	background-color: #FFFFFF;
}

.land-showcase_top {
	padding: 68px 0 16px 0;
}

.land-showcase_title {
	max-width: 345px;
	color: var(--Text-Primary, #262626);
	padding-bottom: 26px;

	/* Heading/h2 */
	font-family: Unbounded;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%; /* 39.6px */
}

.land-showcase_filter {
	display: flex;
	flex-wrap: wrap; // щоб кнопки переносились на новий рядок на маленьких екранах
	row-gap: 10px;
}

.land-filter-btn {
	padding: 10px 15px;
	margin-right: 5px; /* тільки горизонтальний проміжок */
	margin-bottom: 10px; /* вертикальний відступ нуль */
	margin-top: 0;

	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 14px */
	border: none; // чорна рамка
	border-radius: 9999px; // повністю округлі краї
	background-color: transparent;
	color: #000;
	cursor: pointer;
	transition: all 0.4s ease-in-out;

	&.active {
		background-color: #000;
		color: #fff;
		border-color: #000;
	}

	&:hover {
		background-color: #000;
		color: #fff;
	}
}


.land-showcase_slide {
	display: flex;
	max-width: 891px!important;
	height: 600px!important;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;


	border-radius: 24px;
	background: var(--Body-Light-Grey, #F9F9F9);

	.land-showcase_slide__title {
		display: grid;
		gap: 4px;
		padding-bottom: 26px;

		.land-title_top {
			color: var(--Text-Secondary, #434343);

			/* Body/med 16px */
			font-family: Montserrat;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 140%; /* 22.4px */
		}

		.land-title_bottom {
			color: var(--Text-Primary, #262626);

			/* Heading/h4 */
			font-family: Unbounded;
			font-size: 22px;
			font-style: normal;
			font-weight: 500;
			line-height: 110%; /* 24.2px */
		}
	}


	.land-showcase_slide_img {
		display: flex;
		border-radius: 16px;
		width: 100%;
		overflow: hidden; /* важливо */
		max-height: 478px;
		height: 100%;
	}
}

.land-showcase_swiper {
	position: relative!important;
	width: 100vw!important; // на всю ширину екрана
	margin-left: calc(50% - 50vw) !important; // зсунути, щоб вирівняти з екраном
	padding-left: calc((100vw - 1200px) / 2) !important; // старт зліва як у .container
	overflow: hidden!important;
	padding-bottom: 106px!important;

	.swiper-wrapper {
		display: flex;
	}

	.land-swiper-slide {
		flex-shrink: 0;
	}

	.swiper-pagination {
		position: absolute;
		bottom: 70px!important;
		left: 0;
		width: 100% !important;
		display: flex!important;
		justify-content: center!important;
		gap: 12px;

		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: #959595;
			opacity: 0.4;
			position: relative;
			z-index: 1;
		}

		// Активний індикатор
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			height: 13px;

			border-radius: 6px;
			background: var(--Text-Secondary, #434343);
			transform: translateY(-50%);
			transition: all 0.15s ease-in-out;
			z-index: 2;

			/* динамічні змінні */
			left: var(--bullet-left, 0);
			width: var(--bullet-width, 12px);
		}
	}


}


.land-showcase_bottom {
	background: var(--Body-Light-Grey, #F9F9F9);

	.land-showcase_bottom__title {
		padding: 59px 0 36px 0;
		color: var(--Text-Primary, #262626);

		font-family: 'Unbounded', sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 110%; /* 19.8px */
	}

	.land-showcase_slide_bottom {
		height: auto;
		max-width: 120px;
	}


	.land-showcase_swiper_bottom {
		padding-bottom: 59px;
		width: 100vw; // на всю ширину екрана
		margin-left: calc(50% - 50vw); // вирівнювання по екрану
		padding-left: calc((100vw - 1200px) / 2); // старт від контейнера
		overflow: hidden;

		.swiper-slide {
			flex-shrink: 0;
			width: auto; // щоб підлаштовувалось під контент
		}
	}

}


@media (max-width: 1199px) {
	.land-showcase_top {
		padding: 48px 0 16px 0;
	}
}

@media (max-width: 768px) {
	.land-showcase_bottom .land-showcase_swiper_bottom{
		padding-bottom: 24px;
	}
	.land-showcase_bottom .land-showcase_bottom__title{
		padding: 24px 0 24px 0;
	}
	.land-showcase_swiper .swiper-wrapper{
		gap: 0;
	}
	.land-showcase_slide {
		height: 380px !important;
	}
	.land-showcase_slide_img {
		max-height: 250px;
	}
	.land-showcase_slide .land-showcase_slide_img{
		max-height: 77%;
	}
}
@media (max-width: 480px) {
	.land-showcase_swiper .swiper-pagination{
		bottom: 20px!important;
	}
	.land-showcase_swiper{
		padding-bottom: 48px!important;
	}
	.land-showcase_top {
		padding: 24px 0 16px 0;
	}
	.land-showcase_title{
		font-size: 30px;
		padding-bottom: 24px;

	}
}





