.land-btn {
	display: flex;                  /* flex замість inline-block */
	align-items: center;            /* вертикальне вирівнювання */
	justify-content: center;        /* горизонтальне вирівнювання */
	padding: 20px 16px;
	max-width: 249px;
	width: 100%;
	border-radius: 32px;
	border: 2px solid var(--Body-Brand, #01D0CC);
	background: rgba(0,0,0,0);
	color: var(--Body-Brand, #01D0CC);
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* щоб перенос виглядав краще */
	text-decoration: none;
	transition: all .4s ease-in-out;
	text-align: center;

&:hover {
		background: #00ffff; // при ховері заповнюємо кольором
		color: #000; // колір тексту змінюється
	}
}


.land-btn.mod {
	display: inline-block;
	padding: 13px 0;
	width: 100%; // висота і ширина кнопки
	border-radius: 32px;
	border: none;
	background: white; // прозорий фон

	/* Button/bold 16px */
	color: var(--Text-Primary, #262626);

	/* Button/bold 14px */
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 14px */
	transition: all 0.4s ease-in-out;
	text-align: center;

	&:hover {
		background: #00ffff; // при ховері заповнюємо кольором
		color: #000; // колір тексту змінюється
		opacity: 1;
	}
}
